/* JT - Extra css settings, added here so they don't affect all powerschool pages*/
.italic {
	font-style: italic;
}
.strike {
	font-style: italic;
	text-decoration: line-through;
}
.red {
	font-weight: bold;
	color: #000000;
	background-color: #FF9191;
}
.yellow {
	font-weight: bold;
	color: #000000;
	background-color: #FFFFCC;
}
.nomatch {
	background-color: #ffff00;
}
.style1 {font-size: 10px;color: #FF0000;}
.aGreen {background-color: #00FF00;}
.aYellow {background-color: #FFFF00;}
.aRed {background-color: #FF0000;}


.GrandTotal {
	font-weight: bold;
	background-color: #9F9;
}
.SchoolTotal {
	font-weight: bold;
	background-color: #FC9;
}


#sep_schools {
	margin: 0px;
	border: 3px ridge #CCCCCC;
}
#sep_days {
	border: 4px inset #8484FF;
}

/* Start Hover Over Alerts */
.none {
	height: 24px;
	width: 26px;
}
.medical {
	position: relative;
	background: url(http://167.206.30.24/psimages//images/alert_medical.gif) no-repeat;
	height: 24px;
	width: 26px;
}
.other {
	position: relative;
	background: url(http://167.206.30.24/psimages//images/alert_other.gif) no-repeat;
	height: 24px;
	width: 26px;
}
.discipline {
	position: relative;
	background: url(http://167.206.30.24/psimages//images/alert_discipline.gif) no-repeat;
	height: 24px;
	width: 31px;
}
.guardian {
	position: relative;
	background: url(http://167.206.30.24/psimages//images/alert_guardian.gif) no-repeat;
	height: 24px;
	width: 30px;	
}
/* End Hover Over Alerts */