/* JT - Stylesheet for printing pages without all the web garbage*/
.noPrint {
	display: none;
}

A:visited {
	text-decoration: none;
	color: #000000;
}
A:link {
	text-decoration: none;
	color: #000000;
}
A:active {
	text-decoration: none;
	color: #000000;
}

.printHeader {
	float: center;
	height: 24px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.printFooter {
	float: left;
	height: 1in;
	width: 98%;
	position: fixed;
	bottom: 0px;
}

.page-before { page-break-before: always; }
.page-after { page-break-after: always; }
.avoid-page { page-break-inside: avoid; }
.spacer {margin-top: 15px;}
.spacer2 {margin-top: 30px;}
.spacer3 {margin-top: 45px;}
.spacer4 {margin-top: 60px;}
.spacer5 {margin-top: 75px;}
.spacer6 {margin-top: 90px;}
.landscape {size: landscape;}
.strike {
	text-decoration: none;
	font-style: italic;
}

.LandscapeDiv {
  PAGE-BREAK-BEFORE: always;
  width="100%";
  height="100%";
  filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=3);
}
/*
body {
Size: 8.5in 11in landscape;
Margin: 0.25in; }
*/